* {
    box-sizing: border-box;
}

/*styles the body of all websites*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    margin: 0px;
    margin-bottom: 20px;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: #ddd;
            color: black;
        }

        &.active {
            background-color: #eb3326;
            color: white;
        }
    }

    img {
        height: 43px;
    }
}
